body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 30px;
}

.image-container {
  margin-top: 20px;
}
.image-container img {
  max-width: 100%;
}


.contact {
  margin-top: 50px;
}

.contact a {
  color: white;
}

.form-container {
  background-color: navy;
  padding: 20px;
  margin-top: 30px;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="submit"] {
  margin-top: 20px;
}